:root {
  --bg-primary: #121212;
  --bg-secondary: #181818;
  --bg-third: #181818;
  --bg-dark-soft: rgb(24 24 24 / 85%);
  --border-color: #1d1d1d;
  --text-primary: #e7e7e7;
  --text-secondary: #a7a7a7;
  --text-dark: #151723;
  --border: #111927;
  --soft-yellow: hwb(47 0% 0% / 0.03);
  --yellow: #fec600;
  --yellow-hover: #feb500;
  --border-soft: rgb(255 255 255 / 0.02);
  --hover: rgb(255 255 255 / 0.02);
  --soft: rgb(255 255 255 / 0.02);
  --green: #13ff77;
  --soft-green: rgb(41 255 107 / 0.1);
  --purple: #9f4cff;
  --soft-purple: rgb(159 76 255 / 0.06);
  --red: #ff3347;
  --soft-red: rgb(255 51 71 / 0.06);
  --aqua: #2af1ff;
  --yellow-gradient: linear-gradient(270deg, #ffb665 0%, #fed84d 100%);
  --font-Inter: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--bg-secondary);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 4px;
  background: #232638;
}

body {
  font-family: var(--font-Inter);
  color: var(--text-primary);
  background-color: var(--bg-primary);
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

#root {
  overflow-y: auto;
  width: 100%;
  max-height: 100vh;
}

.btn {
  font-size: 0.875rem;
  font-weight: 500;
  padding: 14.5px 32px;
  letter-spacing: 0.054rem;
  text-transform: uppercase;
  color: var(--text-primary);
  border-width: 1px;
  border-radius: 12px;
  box-shadow: none !important;
  transition: transform 0.3s;
}

.btn.btn-none,
.btn.btn-none:hover,
.btn.btn-none:focus,
.btn.btn-none:active {
  padding: 0;
  margin: 0;
  border: 0;
  text-transform: unset;
  font-size: 16px;
  background: none;
}

.dropdown-toggle::after {
  display: none;
}

.btn-link {
  text-transform: unset;
  text-decoration: none;
  padding: 0;
  color: var(--text-secondary);
}

.btn-link:hover {
  color: var(--yellow);
}

.btn.btn-sm {
  font-size: 13px;
  min-width: auto;
  padding: 11px 22px;
}

.btn-cube {
  min-width: 47px;
  padding: 11px;
}

.btn.btn-icon {
  min-width: 36px;
  height: 36px;
  font-size: 16px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222222;
  border-color: #222222;
}

.btn.btn-icon:hover {
  background: #1c1c1c;
  border-color: #1c1c1c;
}

.btn-mobile-header {
  padding: 11px 20px;
  min-width: auto;
  border-radius: 12px;
  font-size: 12px;
}

.btn .fa-regular {
  font-size: 1rem;
}

.btn.btn-primary {
  color: var(--text-dark);
  border-color: var(--yellow);
  background-color: var(--yellow);
}

.btn.btn-outline-primary {
  color: var(--yellow);
  border-color: var(--yellow);
  background-color: transparent;
}

.btn.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn.btn-outline-primary:hover {
  color: var(--text-dark);
  border-color: var(--yellow-hover);
  background-color: var(--yellow-hover);
}

.btn.btn-secondary {
  border-color: #222222;
  background-color: #222222;
}

.btn.btn-outline-secondary {
  border-color: #222222;
  background-color: transparent;
}

.btn.btn-secondary:hover,
.btn.btn-secondary:focus,
.btn.btn-secondary:active,
.btn.btn-outline-secondary:hover {
  border-color: #1c1c1c;
  background-color: #1c1c1c;
}

.btn.btn-secondary.active {
  background: var(--yellow);
  border-color: var(--yellow);
  color: #151723;
}

.btn-play__icon {
  display: flex;
  width: 56px;
  height: 56px;
  transition: all 0.4s;
  border: 2px solid var(--bg-secondary);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

.btn.btn-dark {
  color: var(--yellow);
  border-color: var(--bg-third);
  background-color: var(--bg-third);
}

.btn.btn-dark:hover {
  border-color: var(--bg-secondary);
  background-color: var(--bg-secondary);
}

.btn.btn-light {
  border-color: white;
  background: white;
  color: var(--text-dark);
}

.btn.btn-light:hover {
  border-color: #e9ecef;
  background: #e9ecef;
  color: var(--text-dark);
}

.btn-group-custom {
  background: #222222;
  border-radius: 16px;
}

@media (max-width: 991px) {
  .btn-group-custom {
    width: 100%;
  }
}

.btn-group-custom .btn {
  margin: 6px;
  border-radius: 15px !important;
}

button {
  color: var(--text-primary);
  border: 0;
  background-color: transparent;
}

button[aria-expanded="true"] .fa-angle-down {
  transition: transform 0.3s;
  transform: rotate(180deg);
}

button[aria-expanded="false"] .fa-angle-down {
  transition: transform 0.3s;
  transform: rotate(0deg);
}

a {
  text-decoration: none;
  color: var(--text-secondary);
}

a:hover {
  color: var(--yellow);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-Inter);
}

.color-yellow {
  color: var(--yellow);
}

.color-grey {
  color: var(--text-secondary) !important;
}

.color-green {
  color: var(--green);
}

.color-red {
  color: var(--red);
}

.color-purple {
  color: var(--purple);
}

.color-aqua {
  color: var(--aqua);
}

.hover {
  background-color: transparent;
  transition: background 0.3s;
}

.hover:hover {
  background-color: var(--hover);
}

.pressEffect {
  transition: all 0.2s;
}

.pressEffect:active {
  transform: scale(0.99);
}

.bg-soft {
  background-color: var(--soft) !important;
}

.bg-soft.hover:hover {
  background-color: rgb(255 255 255 / 0.08);
}

.bg-secondary {
  background: var(--bg-secondary) !important;
}

.bg-catalog__pages {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 330px;
  background-color: #111111;
  border-bottom: 1px solid var(--border-color);
}

@media (max-width: 991px) {
  .bg-catalog__pages {
    border: none;
  }
}

.blur-filter {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.badge {
  font-size: 12px;
  font-weight: 500;
  line-height: 0;
  padding: 12px 10px;
  border-radius: 6px;
}

.badge__green,
.bg-green {
  color: var(--green);
  background: var(--soft-green);
}

.badge__purple,
.bg-purple {
  color: var(--purple);
  background: var(--soft-purple);
}

.badge__red,
.bg-red {
  color: var(--red);
  background: var(--soft-red);
}

.badge__yellow,
.bg-yellow {
  color: var(--yellow);
  background: var(--soft-yellow);
}

.badge__soft {
  color: var(--text-secondary);
  background: var(--soft);
}

.alert {
  border-radius: 16px;
}

.alert-warning {
  color: var(--text-second);
  border-color: rgb(254 198 0 / 0.03);
  background: rgb(254 198 0 / 0.04);
  font-size: 14px;
}

.alert-warning .alert-link {
  color: var(--yellow);
  font-weight: 400;
}

.alert-warning .alert-link:hover {
  color: var(--yellow-hover);
}

.border,
.border-end,
.border-start,
.border-top,
.border-bottom {
  border-color: var(--border-color) !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-32 {
  font-size: 32px !important;
}

.fs-40 {
  font-size: 40px !important;
}

.fw-medium {
  font-weight: 500;
}

.w-400px {
  max-width: 400px;
}

.mb-56 {
  margin-bottom: 56px;
}

.pt-150 {
  padding-top: 150px !important;
}

.image-80x80 {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.image-300x300 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.rounded-12 {
  border-radius: 12px !important;
}

.rounded {
  border-radius: 16px !important;
}

.rounded-20 {
  border-radius: 20px;
}

.icon-ton {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/img/icon-ton.svg") no-repeat center center / contain;
}

.overflow-auto {
  cursor: move;
}

.overflow-auto::-webkit-scrollbar {
  height: 0;
}

.modal {
  background-color: rgb(0 0 0 / 50%);
}

.modal-content {
  padding: 24px;
  border-radius: 20px;
  background: var(--bg-secondary);
}

.modal-content .bg-grey {
  transition: all 0.4s;
  background: var(--soft);
}

.modal-content .bg-grey:hover {
  background: var(--hover);
}

.modal-content .modal-body,
.modal-content .modal-header {
  padding: 0;
  border: 0;
}

.modal-content .modal-header {
  margin-bottom: 32px;
}

.modal-title {
  font-size: 28px;
  font-weight: 700;
}

.modal-close {
  font-size: 20px;
  top: 12px;
  right: 20px;
  transition: all 0.4s;
  transform: rotate(-90deg);
  opacity: 0.5;
  color: var(--text-primary);
}

.modal-close:hover {
  transform: rotate(90deg);
  color: var(--text-primary);
  opacity: 0.9;
}

@media (max-width: 500px) {
  .modal-content {
    min-height: 100vh;
    border-radius: 0 !important;
  }

  .mobile-modal-bottom .modal-content {
    min-height: auto;
    margin-top: auto;
    padding: 40px 24px !important;
  }

  .modal.fade .modal-dialog.mobile-modal-bottom {
    transform: translate(0, 16px) !important;
  }

  .modal-dialog {
    margin: 0;
  }
}

.modified-collapse .collapse:not(.show),
.modified-collapse.collapse:not(.show) {
  display: block;
}

@media (max-width: 1200px) {
  .modified-collapse .collapse:not(.show),
  .modified-collapse.collapse:not(.show) {
    display: none;
  }

  .modified-collapse .card-header:after {
    display: none;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

@media (min-width: 768px) {
  .animate {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

.form-label {
  font-weight: 500;
}

.upload-image {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: #222222;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.upload-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(28 28 28 / 0.8);
  z-index: -1;
  transition: all 0.3s;
}

.upload-image:hover::before {
  background-color: rgb(28 28 28 / 0.9);
}

.upload-image.upload-image__profile {
  min-width: 76px;
  height: 76px;
}

.form-control {
  background-color: #1c1c1c;
  border: 1px solid #1c1c1c;
  border-radius: 12px;
  min-height: 52px;
  color: var(--text-primary);
}

.form-control:focus,
.form-control:active {
  background-color: #1c1c1c;
  box-shadow: none;
  border-color: rgb(255 255 255 / 0.1);
  color: var(--text-primary);
}

.form-control::placeholder {
  color: var(--text-secondary);
}

.input-group {
  background-color: #1c1c1c;
  border: 1px solid #1c1c1c;
  border-radius: 12px;
  contain: paint;
}

.input-group:focus-within {
  border-color: rgb(255 255 255 / 0.1);
}

.input-group-text,
.input-group-text:focus,
.input-group-text:active {
  background-color: transparent;
  border: 0;
  color: var(--text-primary);
}

.input-group .form-control {
  border: 0;
  background-color: #1c1c1c;
}

.input-group:focus-within .input-group-text {
  background: #1c1c1c;
  color: var(--text-primary);
}

.form-select {
  min-width: 180px;
  height: 52px;
  color: var(--text-primary);
  border-radius: 12px;
  background-color: #1c1c1c;
  border: 1px solid #1c1c1c;
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='5' viewBox='0 0 7 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.63815 1.15363L3.55493 3.23685L1.47171 1.15363C1.26232 0.944233 0.92406 0.944233 0.714664 1.15363C0.505268 1.36302 0.505268 1.70128 0.714664 1.91068L3.17909 4.37511C3.38849 4.5845 3.72675 4.5845 3.93614 4.37511L6.40057 1.91068C6.60997 1.70128 6.60997 1.36302 6.40057 1.15363C6.19117 0.949602 5.84755 0.944233 5.63815 1.15363Z' fill='white'/%3E%3C/svg%3E%0A");
  background-size: 14px 10px;
}

.form-select:hover,
.form-select:focus,
.form-select:active {
  border-color: rgb(255 255 255 / 0.1);
  box-shadow: none;
}

.nav-pills {
  overflow: hidden;
}

.nav-pills .nav-link {
  padding: 14px 28px;
  color: var(--text-secondary);
  border-radius: 0;
}

.nav-pills .nav-link.active {
  background: var(--soft);
}

.card-filters {
  position: sticky;
  top: 100px;
}

.card-filters .form-check,
.form-check-label {
  position: relative;
  cursor: pointer;
}

.form-check {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 12px;
  transition: 0.2s all;
}

.form-check:active {
  transform: scale(0.98);
}

.form-check-label {
  width: 100%;
  display: flex;
  align-items: center;
}

.form-check-label i {
  line-height: 1.5;
}

.card-filters .form-check-input {
  width: 24px;
  height: 24px;
  background: var(--bg-secondary);
  border-color: var(--bg-secondary);
  margin: 0;
}

.card-filters .form-check-input:checked {
  border-color: var(--yellow);
  background-color: var(--yellow);
}

.card-filters .form-check-input:focus {
  border-color: var(--bg-secondary);
  box-shadow: none;
}

.form-switch .form-check-input {
  width: 42px;
  height: 24px;
  border-color: #333333;
  background-color: #333333;
}

.form-switch .form-check-input:checked {
  border-color: var(--yellow);
  background-color: var(--yellow);
}

.dropdown-menu {
  overflow: hidden;
  padding: 0;
  border-radius: 12px;
  border: 0;
  left: auto !important;
  right: 0 !important;
  background-color: #1c1c1c;
  box-shadow: 0 6px 6px rgb(3 4 6 / 9%);
}

.dropdown-item {
  padding: 16px;
  color: var(--text-primary);
  border-bottom: 1px solid rgb(255 255 255 / 0.03);
  text-transform: math-auto;
}

.dropdown-item:hover,
.dropdown-item.active {
  color: var(--text-primary);
  background: rgb(255 255 255 / 0.03);
}

.dropdown-item.active {
  font-weight: 600;
}

.dropdown-item:last-child {
  border: 0;
}

.flex-table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex-thead,
.flex-th,
.flex-tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-thead {
  background: #1c1c1c;
  border-radius: 16px;
  padding: 16px 24px;
  margin-bottom: 6px;
}

.flex-thead .flex-th {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: var(--text-secondary);
}

.flex-thead .flex-th,
.flex-tbody .flex-td {
  min-width: 125px;
  justify-content: end;
}

.flex-thead .flex-th:nth-child(1),
.flex-tbody .flex-td:nth-child(1) {
  max-width: 492px;
  width: 100%;
  justify-content: start;
}

.flex-thead .flex-th:nth-child(1) {
  max-width: 468px;
}

.flex-thead .flex-th:nth-child(5),
.flex-tbody .flex-td:nth-child(5) {
  min-width: 88px;
  justify-content: center;
  text-align: center;
}

.flex-tbody .flex-tr {
  font-weight: 700;
  transition: all 0.2s;
  border-radius: 16px;
  font-size: 15px;
  color: var(--text-primary);
  margin-bottom: 6px;
}

.flex-tbody .flex-tr:active {
  transform: scale(0.99);
}

.flex-tbody .flex-tr:active {
  transform: scale(0.99);
}

.flex-tbody .flex-tr:hover {
  background: var(--soft);
}

.table {
  min-width: 1024px;
  color: var(--text-primary);
}

.table tr {
  border-bottom: 1px solid var(--border-color);
  transition: all 0.3s;
}

.table tr td,
.table tr:last-child {
  border-bottom: 0;
}

.table-stats tbody tr:hover {
  background: var(--soft);
}

.table-stats td {
  padding: 14px;
  vertical-align: middle;
}

.table-stats__icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-stats__avatar {
  width: 26px;
  height: 26px;
  border-radius: 8px;
}

.table-stats__address {
  max-width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}

@media screen and (max-width: 760px) {
  .table {
    min-width: auto;
  }

  .table thead {
    display: none;
  }

  .table tr {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    border-radius: 0;
    align-items: center;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .table td {
    width: 50%;
    padding: 12px;
    font-size: 14px;
  }

  .table td:nth-child(1) {
    width: 70%;
  }

  .table td:nth-child(2) {
    width: 30%;
  }

  .table td:nth-child(1),
  .table td:nth-child(2) {
    background: var(--soft);
  }

  .table td:nth-child(2),
  .table td:nth-child(4) {
    text-align: right;
  }

  .table td:nth-child(5) {
    font-size: 12px;
    width: 100%;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.progress {
  background: rgb(255 255 255 / 0.06);
  height: 6px;
}

.main-page {
  padding: 0 24px;
  min-height: 80vh;
}

@media (max-width: 996px) {
  .main-page {
    padding: 0 12px;
  }
}

.container-fluid {
  position: relative;
  max-width: 1786px;
}

.header {
  position: sticky;
  z-index: 999;
  top: 0;
  padding: 16px 0;
  background: rgb(18 18 18 / 85%);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.header .navbar-logo {
  display: flex;
  align-items: center;
}

.header .navbar-logo__img {
  width: 42px;
  height: 42px;
  object-fit: contain;
}

@media (max-width: 996px) {
  .header .navbar-logo__img {
    width: 36px;
    height: 36px;
  }
}

.header .navbar-logo__name {
  font-family: var(--font-Raleway);
  font-size: 1.875rem;
  font-weight: 700;
  margin-left: 1.5rem;
  color: var(--text-primary);
}

.header .navbar-nav .nav-link {
  font-size: 0.875rem !important;
  font-weight: 500;
  padding: 16px;
  text-transform: uppercase;
  color: var(--text-secondary);
}

.header .nav-link:hover {
  color: var(--yellow);
}

.header .dropdown-menu {
  min-width: 240px;
  margin-top: 16px;
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  left: auto;
  right: 0;
}

.header__search .dropdown-menu {
  width: 100%;
}

@media (max-width: 991px) {
  .header .dropdown-menu {
    position: absolute;
    left: 0 !important;
    right: auto;
  }
}

.header .input-group {
  border: 1px solid rgb(255 255 255 / 0.01);
  border-radius: 12px;
  background-color: rgb(255 255 255 / 0.05);
}

.header .input-group .form-control,
.form-control:focus ~ .input-group-text {
  background-color: transparent;
}

.header .input-group:focus-within .input-group-text,
.header .input-group .form-control:focus {
  background-color: rgb(255 255 255 / 0.02);
}

.header .profile-image {
  width: 42px;
  height: 42px;
  border-radius: 12px;
}

.navbar-toggler,
.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus {
  box-shadow: none;
  width: 42px;
  height: 42px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  border-color: #222222;
  background: #222222;
}

@media (max-width: 991px) {
  .navbar-toggler {
    display: flex;
  }
}

.navbar-toggler span {
  display: block;
  background-color: var(--text-primary);
  height: 3px;
  width: 22px;
  margin-bottom: 4px;
  position: relative;
  left: 0;
  top: -1px;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
  border-radius: 4px;
}

.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(2) {
  opacity: 1;
}

.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -13%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 43%) rotate(-45deg);
}

@media (max-width: 991px) {
  .header {
    padding: 10px 0;
  }

  .dropdown-menu[aria-labelledby="dropdownMenuCat"] {
    position: relative;
    z-index: unset;
    display: block !important;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
  }

  .dropdown-menu[aria-labelledby="dropdownMenuSearch"] {
    position: relative;
  }

  .navbar-collapse {
    position: fixed;
    top: 66px;
    right: 0;
    overflow: auto;
    width: 100%;
    height: 92vh;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    background: var(--bg-primary);
  }

  .navbar-collapse.collapsing {
    right: -75%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    right: 0;
    transition: right 200ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: right 200ms ease-in-out;
  }
}

.section {
  position: relative;
  padding: 75px 0;
}

.section__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 56px;
}

.section__desc {
  font-size: 24px;
  font-weight: 300;
  color: var(--text-secondary);
}

@media (max-width: 500px) {
  .section {
    padding: 50px 0;
  }

  .section.pt-150 {
    padding-top: 100px !important;
  }

  .section__title {
    font-size: 42px;
  }

  .section__desc {
    font-size: 20px;
  }
}

#floatingmes {
  display: none;
}

@media (max-width: 1836px) {
  #floatingmes {
    font-size: 11px;
    font-weight: 500;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: auto;
    padding: 4px 16px;
    letter-spacing: 1px;
    border-radius: 14px;
    background: var(--bg-secondary);
  }
}

.hero {
  margin-top: 32px;
}

.hero__container {
  position: relative;
  z-index: 1;
  border-radius: 24px;
  background-color: var(--bg-secondary);
  padding: 100px;
  overflow: hidden;
  max-height: 620px;
}

.hero-animated__box {
  display: flex;
  position: absolute;
  top: 12px;
  right: 12px;
}

.hero-animated__item {
  margin: 12px;
  position: relative;
}

.hero-animated__item:nth-child(2) {
  animation: MoveItemTwo 120s linear infinite;
  top: -100px;
}

.hero-animated__item:nth-child(1),
.hero-animated__item:nth-child(3) {
  animation: MoveItemAll 120s linear infinite;
}

@keyframes MoveItemTwo {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(125px);
  }
}

@keyframes MoveItemAll {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-125px);
  }
}

.hero-animated__image {
  width: 250px;
  height: 100%;
  object-fit: contain;
}

.hero__image {
  width: auto;
  height: 614px;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 1400px) {
  .baground-hero__nft:after {
    background: rgb(29 32 49 / 0.94);
    backdrop-filter: blur(124px);
  }
}

.hero__title {
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 1.875rem;
}

.hero__desc {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 2.5rem;
  color: var(--text-secondary);
}

@media (max-width: 1024px) {
  .hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero__container::after {
    opacity: 0.3;
    filter: blur(20px);
  }
}

@media (max-width: 667px) {
  .hero__container {
    margin-top: 0;
    padding: 48px 24px;
    border: 0;
  }

  .hero__title {
    font-size: 40px;
  }

  .hero__desc {
    font-size: 18px;
    font-weight: 400;
  }

  .hero__image {
    opacity: 0.6;
  }
}

.libermall__container {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 66px 90px;
  border-radius: 24px;
  background: var(--yellow-gradient);
}

.libermall__container::after {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: url(/assets/img/openlake-image.png) no-repeat right top / contain;
}

.libermall__container .section__title {
  color: var(--text-dark);
}

.libermall__buttons {
  margin-top: 32px;
}

.libermall__soclinks {
  display: flex;
}

.libermall__soclinks .libermall__soclinks-item {
  font-size: 18px;
  display: flex;
  width: 52px;
  height: 52px;
  margin: 0 6px;
  transition: all 0.4s;
  color: var(--text-primary);
  background: var(--bg-primary);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.libermall__soclinks .libermall__soclinks-item:hover {
  color: var(--yellow);
  background: var(--soft);
  font-size: 18px;
}

@media (max-width: 1500px) {
  .libermall__container::after {
    right: -20%;
  }
}

@media (max-width: 1300px) {
  .libermall__container::after {
    right: -30%;
  }
}

@media (max-width: 1150px) {
  .libermall__container .section__title {
    font-size: 40px;
  }
}

@media (max-width: 991px) {
  .libermall__container {
    padding: 40px 30px;
  }

  .libermall__container .section__title {
    font-size: 34px;
  }

  .libermall__container::after {
    right: -60%;
    background: url(/assets/img/openlake-image.png) no-repeat left top / cover;
  }
}

@media (max-width: 414px) {
  .libermall__container::after {
    right: -65%;
    background: url(/assets/img/openlake-image.png) no-repeat left top / cover;
  }
}

.notable__container,
.category__container {
  padding-bottom: 40px;
  border-bottom: 1px solid var(--border-color);
}

.notable__container::after,
.category__container::after {
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 10%;
  height: 5px;
  margin-left: -5%;
  content: "";
  border-radius: 4px;
  background: var(--bg-secondary);
}

.card {
  position: relative;
  z-index: 2;
  top: 0;
  overflow: hidden;
  padding: 16px;
  transition: all 0.4s;
  border: 0;
  border-radius: 20px;
  background: var(--bg-secondary);
}

.card-header {
  background: none;
  border: none;
  padding: 0;
}

.card-title {
  font-size: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 92%;
  white-space: nowrap;
  color: var(--text-primary);
}

.card-text {
  color: var(--text-primary);
}

.card-subtitle {
  font-size: 14px;
  color: var(--text-secondary);
}

.card-footer {
  background: transparent;
  border-color: var(--border-color);
}

.verified-icon {
  min-width: 18px;
  height: 18px;
  background: url(/assets/img/verified.svg) no-repeat center center / contain;
}

.card h3,
.card h4 {
  color: var(--text-primary);
}

.card-img,
.card-img-top {
  width: 100%;
  height: 352px;
  border-radius: 16px;
  object-fit: cover;
}

.card__bage {
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  z-index: 2;
  top: 24px;
  right: 24px;
  padding: 6px 18px;
  transition: all 0.4s;
  letter-spacing: 0.075rem;
  border-radius: 100px;
  background: var(--bg-secondary);
}

.card-image {
  width: 100%;
  max-height: 301px;
  transition: all 0.4s;
  border-radius: 16px;
  object-fit: cover;
}

.card .bg-grey {
  background-color: rgb(255 255 255 / 0.03) !important;
}

.card__blur-bg-hover {
  position: absolute;
  z-index: -1;
  width: 271px;
  height: 250px;
  transition: opacity 0.6s ease;
  opacity: 0;
  border-radius: 16px;
  filter: blur(150px);
}

.card:hover .card__blur-bg-hover {
  opacity: 0.4;
}

.card-avatar {
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 80px;
  height: 80px;
  margin-top: -56px;
  transition: all 0.4s;
  border: 3px solid var(--bg-secondary);
  border-radius: 50%;
}

.card-avatar .img-fluid {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card:hover .card-avatar {
  transform: scale(1.03);
  border-color: var(--bg-secondary);
}

.card-blur {
  background: var(--bg-dark-soft);
  backdrop-filter: blur(50px);
  border: 1px solid var(--border-color);
}

.card-blur,
.card-blur .border-end {
  border-color: rgba(255, 255, 255, 0.04) !important;
}

.card-blur__item {
  min-width: 202px;
}

.card__show-effect {
  position: absolute;
  z-index: 2;
  bottom: calc(150px - 8px - 8px);
  left: 50%;
  margin-left: -60px;
  transition: all 0.2s ease;
  opacity: 0;
}

.card:hover .card__show-effect {
  position: absolute;
  bottom: calc(180px - 8px - 8px);
  z-index: 2;
  opacity: 1;
}

.card-img-profile__avatar {
  width: 80px;
  height: 80px;
  border-radius: 12px;
}

.card-actions {
  position: absolute;
  right: 16px;
  bottom: calc(110px - 8px - 8px);
}

.card-actions .btn-icon {
  background: rgb(255 255 255 / 0.02);
  backdrop-filter: blur(10px);
}

.card-actions .btn-icon:hover {
  background: rgb(255 255 255 / 0.03);
  border-color: rgb(255 255 255 / 0.03);
}

.card-status {
  position: absolute;
  left: 24px;
  bottom: calc(160px - 8px - 8px);
  background: rgb(21 23 35 / 0.4);
  backdrop-filter: blur(8px);
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.create {
  padding-bottom: 124px;
}

.create-card {
  min-width: 424px;
  margin-right: 15px;
}

.card-choose img {
  width: 100%;
  max-height: 207px;
  border-radius: 10px;
}

.card-choose__label {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  border-radius: 12px;
  border: 4px solid var(--border-color);
}

.card-choose input[type="radio"]:checked ~ .card-choose__label {
  border: 4px solid var(--yellow);
}

.card-choose input[type="radio"]:checked ~ .card-choose__discount {
  color: var(--white);
  background: var(--yellow);
}

.upload-nft__box {
  width: 100%;
  height: 74vh;
  padding: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  border-radius: 12px;
}

@media (max-width: 500px) {
  .create-card {
    min-width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .activity__card {
    min-height: 275px;
  }
}

.collection__container .row .col-sm-6,
.flex-tbody .card {
  counter-increment: inst;
}

.collection__container .card:before,
.flex-tbody .card:before {
  font-size: 13px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(29 32 49 / 48%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-top-right-radius: 8px;
  font-weight: 800;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  margin-right: 24px;
  content: counter(inst);
  color: white;
}

.collection-card {
  padding: 0;
  overflow: hidden;
}

.card-img-collection {
  width: 100px;
  height: auto;
  object-fit: cover;
}

.collection__item-bg {
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0.05;
  width: 100%;
  height: 50vh;
  z-index: -1;
  border-radius: 16px;
  filter: blur(250px);
}

@media (max-width: 991px) {
  .collection-card div,
  .collection-card .text-end.card-body {
    text-align: center !important;
    display: block !important;
  }

  .collection__container .card:before {
    background: var(--yellow);
    color: var(--text-dark);
  }

  .card-img-collection {
    border-radius: 10px;
  }
}

.auction-timer {
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid var(--border-color);
  padding: 16px;
}

.auction-timer__box {
  font-size: 0.75rem;
  font-weight: 500;
  z-index: 1;
  width: 22%;
  height: 100px;
  text-align: center;
  background: #1c1c1c;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 400px) {
  .auction-timer {
    background: none;
  }

  .auction-timer__box {
    background: #222;
    margin: 8px;
    min-width: 42%;
  }
}

.auction-timer__box span {
  font-size: 1.5rem;
  font-weight: 900;
}

.list-group {
  background: #222;
  border-radius: 12px;
  padding: 24px;
}

.list-group-item {
  background: none;
  color: var(--text-primary);
  border: 0;
  padding: 0 0 16px 0;
}

.list-group-item:last-child {
  padding-bottom: 0;
}

.item-details__image {
  width: 100%;
  height: auto;
  min-height: 60vh;
  cursor: zoom-in;
  border-radius: 20px;
  object-fit: cover;
  background-color: var(--bg-secondary);
}

.item-details__image--size {
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
}

.item-details__title {
  font-size: 40px;
  font-weight: 700;
}

.item-details__desc {
  font-size: 18px;
  color: var(--text-secondary);
}

.item-details__badge {
  font-weight: 500;
  display: inline-block;
  padding: 8px 24px;
  text-transform: uppercase;
  border-radius: 12px;
}

.btn.btn-like {
  transition: all 0.3s;
  border-color: var(--border-color);
}

.btn.btn-like:focus,
.btn.btn-like:active .btn-like.active {
  background: #1c1c1c;
  border-color: #1c1c1c;
}

.btn.btn-like:hover .fa-regular:before,
.btn.btn-like:focus .fa-regular:before,
.btn.btn-like:active .fa-regular:before,
.btn.btn-like.active .fa-regular:before {
  font-weight: 900;
  content: "\f004";
}

.btn.btn-like:focus .fa-regular:before,
.btn.btn-like:active .fa-regular:before,
.btn.btn-like.active .fa-regular:before {
  color: var(--red);
}

.btn.btn-like.btn-like__card {
  position: absolute;
  top: 24px;
  left: 24px;
  border: 0;
  background: rgb(21 23 35 / 0.4);
  backdrop-filter: blur(8px);
}

.price-item__ton {
  font-size: 24px;
  font-weight: 600;
}

.create-card__num {
  font-size: 60px;
  font-weight: 600;
}

.create-border {
  position: absolute;
  bottom: -14%;
  left: auto;
  width: 79%;
  height: 191px;
  background: url(/assets/img/create-border.svg) no-repeat center center /
    contain;
}

@media (max-width: 1750px) {
  .create-border {
    display: none;
  }
}

.partners.section {
  padding: 65px 0;
}

.partners.section .img-fluid {
  width: 150px;
  height: 30px;
  object-fit: contain;
}

@media (min-width: 1400px) {
  .collections__list .col-xxl {
    min-width: 20%;
    max-width: 20%;
  }
}

.collections__nav {
  border-bottom: 1px solid var(--bg-secondary);
}

.collections__nav .nav-item {
  margin-right: 32px;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
}

.collections__nav .nav-item:last-child {
  margin-right: 0;
}

.collections__nav .nav-link {
  font-size: 18px;
  font-weight: 500;
  display: block;
  padding: 16px 8px;
  z-index: 2;
  position: relative;
}

.collections__nav .nav-link.active {
  color: var(--text-primary);
  background: none;
  border-bottom: 1px solid var(--yellow);
}

.collections__nav .nav-link:hover {
  color: var(--text-primary);
}

.collections__card-name {
  overflow: hidden;
  max-width: 130px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 414px) {
  .mobile__nav-bottom {
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    padding: 0 12px;
    background: var(--bg-secondary);
  }

  .mobile__nav-bottom .collections__nav {
    margin: 0;
  }

  .collections__nav-item {
    font-size: 12px;
    padding: 0 12px;
  }

  .mobile__nav-bottom::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .collections__filters {
    position: fixed;
    z-index: 888;
    bottom: 76px;
    left: 0;
    width: 100%;
    height: auto;
    background: var(--bg-secondary);
  }
}

.nft-hero {
  min-width: 100%;
  min-height: 240px;
  padding: 0;
  position: relative;
}

.hero__no-cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(18 18 18 / 80%);
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(200px);
  z-index: 2;
}

.nft-hero__image {
  width: 100%;
  height: 340px;
  object-fit: cover;
}

@media (max-width: 991px) {
  .modal-mobile {
    position: fixed;
    background-color: var(--bg-primary);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    overflow: auto;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
  }

  .modal-mobile .card-filters {
    position: relative !important;
    top: 0 !important;
  }

  .modal-mobile:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}

.footer {
  padding: 100px 48px 50px 48px;
  background-color: var(--bg-primary);
}

@media (max-width: 768px) {
  .footer {
    padding: 100px 16px 50px 16px;
  }
}

.footer .libermall__soclinks-item,
.card-blur .libermall__soclinks-item {
  color: var(--text-primary);
  background-color: var(--soft);
  border-color: var(--soft);
}

.footer .libermall__soclinks-item:hover,
.card-blur .libermall__soclinks-item:hover {
  color: var(--text-dark);
  background-color: var(--yellow);
}

.footer .col-md-12.col-lg-2.py-3.py-lg-0 h4 .fa-regular {
  transition: all 0.4s;
}

.footer .col-md-12.col-lg-2.py-3.py-lg-0 h4[aria-expanded="true"] .fa-regular {
  transform: rotate(-180deg);
}

.footer .show {
  display: block !important;
}

@media (max-width: 1024px) {
  .footer .col-md-12.col-lg-2.py-3.py-lg-0 {
    border-bottom: 1px solid var(--bg-secondary);
  }

  .footer .col-md-12.col-lg-2.py-3.py-lg-0:last-child {
    border: 0;
  }
}
