#root {

    

}

html,
body {
    margin: 0!important;
    padding: 0!important;
}

.vkuiPanel .vkuiPanel__in, .vkuiPanel:after, .vkuiGroup__inner {
    /* background-color: var(--tg-theme-secondary-bg-color)!important; */
}


body {
    z-index: 1;

    background-color: #09080C!important;
    /* background-size: 400% 400%!important; */

}

body * {
    /* font-family: 'Gilroy'!important */
    /* font-family: 'Inter Tight', sans-serif!important; */
    /* font-family: 'Poppins'; */
}
::placeholder { /* Most modern browsers support this now. */
    color:    var(--tg-theme-text-color)!important;
 }
 input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

::placeholder { /* Most modern browsers support this now. */
    opacity: 0.5!important;
 }


*:not(input, textarea){ user-select:none; }

a,
a *
a div,
a:hover,
a:hover *
a:hover div {
    text-decoration: none!important;
}


@media (max-width: 1000px) {


}